-# header
#header
  %h1 Tech Decore
  #navigation
    .mainBlock
      %ul#menu.main
        %li
          = link_to "#" do 
            FLOWERS & DESIGN
        %li
          = link_to "#" do 
            SCHOOL
        %li
          = link_to "#" do 
            NEWS & EVENT
        %li
          = link_to "#" do 
            PRESS & MOVIES
        %li
          = link_to "#" do 
            LOCATIONS
        %li.last
          = link_to "#" do 
            SHOP ONLINE
-# body
#main
  .container
    .row
      .col-sm-12 
        .TopView
          .slide
            = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"
    = render 'layouts/top-column'
    = render 'layouts/top-column'
    = render 'layouts/top-column'
    = render 'layouts/top-column'
    = render 'layouts/top-column'
