= render 'layouts/header'
#main
  .container.mt-4
    .row
      .col-sm-12 
        .TopView
          .slide
            = image_tag 'pict/top-red.jpg', alt:'TOP画面', class:"TopImage"
    .row
      - @tweets.each do |tweet|
        .col-sm-4
          = link_to tweet_path(tweet.id), method: :get do
            %p= tweet.text
            .content.img-responsive
              = image_tag ("#{tweet.image}")

= render 'layouts/footer'