-# header
#header
  %h1 Tech Decore
  #navigation
    .mainBlock
      %ul#menu.main
        %li
          = link_to "#" do 
            Log in
        %li.last
          -# = link_to 'Create Account', edit_item_path(@item.id), method: :post, class:"float-right"
          = link_to "#" do 
            Create Account
-# body
#main
  .container
    .row
      .col-sm-12 
        .TopView
          .slide
            = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"
    = render 'layouts/top-column'
    = render 'layouts/top-column'
    = render 'layouts/top-column'
    = render 'layouts/top-column'
    -# = render 'layouts/top-column'
    -# 発表用の記述
    .row
      .col-sm-4
        .content_image-over
          = link_to "#" do
            = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"
      .col-sm-4
        .content_image-over
          = link_to "#" do
            = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"
      .col-sm-4
        .content_image-over_test
          = link_to "" do
            = image_tag '', alt:'', class:"TopImage"
            .Test
              No-Image
              
    .contents.row
    = @tweets.each do |tweet|
      .content_post{:style => "background-image: url(#{tweet.image});"}
        %p= tweet.text
        %span.name
          = tweet.name

-# footter
#footer
  .footer__contents
    #footer__search
      %label{for: "footer__search-area"} Search Box：
      %input#footer__search-area.SearchBox{maxlength: "30",placeholder: "Search text", type: "text"}/
    %br
    %p Copyright　Tech Decore 2021.
