-# header
#header
  %h1
    -# = link_to 'Tech Decore', root_path
    = link_to image_tag('pict/tittle.png', alt:'tittle', class:"Tittle"), root_path
  #navigation
    .mainBlock
      %ul#menu.main
        %li
          = link_to 'Post', new_tweet_path
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete, class: 'Button'
        %li
          = link_to edit_user_path(current_user) do
            = current_user.name