.header
  .heading
    %h1.title
      = link_to image_tag('', alt:'Tech Decore'), root_path
  .Navbar
    %ul.NavLists
      %li.NavLists__Item
        = link_to '#' do
          = '検索'
      %li.NavLists__Item
        = link_to '#' do
          = 'ログイン'
      %li.NavLists__Item
        = link_to '#' do
          = '新規登録'

