.row
  .col-sm-4
    .content_image-over
      = link_to "#" do
        = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"
  .col-sm-4
    .content_image-over
      = link_to "#" do
        = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"
  .col-sm-4
    .content_image-over
      = link_to "#" do
        = image_tag 'pict/top-view.jpg', alt:'TOP画面', class:"TopImage"